:root {
  --color-bg: white;
  --color-text-main: #000000;
  --wrapper-height: 85vh;
  --image-max-width: 320px;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";
}

/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

/* Typography */
h1,
h2,
h3,
h4,
h5 {
  margin: 0.2em 0 0.5rem;
  font-family: var(--font-family-header);
  font-weight: 600;
  line-height: 1.1;
  color: var(--color-text-main);
}
ul > li,
ol > li {
  margin-bottom: 0.75rem;
  line-height: 1.5;
  font-size: 1rem;
}
a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

/* base structure */
html,
body {
  overflow-x: hidden;
}
body {
  font-family: var(--font-family);
}
footer {
  padding: 30px;
  font-size: 0.8rem;
  text-align: center;
}

/* header-logo */
.header-mobile {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  border-bottom: 2px solid #000;
}
.logo-mobile {
  text-align: center;
  font-size: 6vw;
}

/* Home structure */
.latest-post {
  text-align: center;
  padding-bottom: 1rem;
  box-shadow: 5px 10px;
}
.line-break {
  font-style: italic;
  text-align: center;
  text-decoration: underline;
}
.tags {
  border: none;
  padding: 2px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

/* cards */
.cards {
  text-align: center;
  padding-bottom: 1rem;
  margin-bottom: 4rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 10px;
}
.card_img {
  width: 98%;
}

/*who-is-lazy section*/
.who-is-lazy {
  position: relative;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: center;
}
.who-is-lazy_img {
  width: 98%;
}
.who-is-lazy_header {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 10px 0;
  margin: 0;
  width: 98%;
}
