:root {
  --color-bg: white;
  --color-text-main: #000000;
  --wrapper-height: 85vh;
  --image-max-width: 320px;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";
}

/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

/* Page structure */
header nav {
  text-align: center;
}
header nav a {
  margin: 0 2rem;
}
body {
  font-family: var(--font-family);
}
footer {
  padding: 30px;
  font-size: 0.9rem;
}
.header-nav {
  padding: 30px 150px;
  overflow: hidden;
  text-align: center;
}
.wrapper {
  min-height: var(--wrapper-height);
  place-items: center;
  margin: 3rem 10rem 0;
}
.content {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  margin: 0 auto;
}
.copyright {
  display: inline;
}
.footer-nav {
  float: right;
}
.logo {
  width: 15rem;
}

/* Typography */
h1,
h2,
h3,
h4,
h5 {
  margin: 0.8em 0 0.8rem;
  font-family: var(--font-family-header);
  font-weight: 600;
  line-height: 1.1;
  color: var(--color-text-main);
}

ul > li,
ol > li {
  margin-bottom: 0.75rem;
  line-height: 1.5;
  font-size: 1rem;
}

a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

/* Layout: Home */

.row-of-cards {
  display: flex;
}

.cards {
  text-align: center;
}

img.cards {
  width: 95%;
}

.card-tags {
  background-color: black;
  border: none;
  color: white;
  padding: 2px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  margin-top: 20px;
  cursor: pointer;
}

img.cover {
  margin: 1.7% 0.83%;
  width: 98.4%;
}

.lazySection {
  position: relative;
  text-align: center;
}
.whoislazy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  margin: 0;
}

.line-break {
  position: relative;
  text-align: center;
  margin: 20px 0;
}

.line-break-text {
  position: absolute;
  font-style: italic;
  background-color: white;
  padding: 5px 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Post */
.post {
  place-items: normal;
}
.postTitle {
  font-size: 4rem;
  color: #000;
  line-height: 1.1;
  margin-bottom: 2rem;
}
.controls {
  margin: 3rem 0 2rem;
}
