---
layout: layouts/base.njk
templateClass: tmpl-home
---

{# The Home page uses this template–it extends the base template #}

<div class="wrapper home">
  <div class="content">
    <section>
      {{info.section1.img}}
      {{info.section1.tag}}
      {{info.section1.title}}
      {{info.section1.summary}}
    </section>
    <section>
      {{info.section2.img}}
      {{info.section2.tag}}
      {{info.section2.title}}
      {{info.section2.summary}}
    </section>
    <section>
      <div>
        {{info.section3.card1.img}}
        {{info.section3.card1.tag}}
        {{info.section3.card1.title}}
        {{info.section3.card1.summary}}
      </div>
      <div>
        {{info.section3.card2.img}}
        {{info.section3.card2.tag}}
        {{info.section3.card2.title}}
        {{info.section3.card2.summary}}
      </div>
      <div>
        {{info.section3.card3.img}}
        {{info.section3.card3.tag}}
        {{info.section3.card3.title}}
        {{info.section3.card3.summary}}
      </div>
    </section>
  </div>
</div>


