---
layout: layouts/base.njk
templateClass: tmpl-home
---

{# The Home page uses this template–it extends the base template #}

<div class="wrapper home">
  <div class="content">
    <section>
      <img src="{{info.section1.img}}" alt="{{info.section1.imgAlt}}">
      {{info.section1.tag}}
      {{info.section1.title}}
      {{info.section1.summary}}
    </section>
    <section>
      <img src="{{info.section2.img}}" alt="{{info.section2.imgAlt}}">
      {{info.section1.tag}}
      {{info.section1.title}}
      {{info.section1.summary}}
    </section>
    <section>
      <div>
        <img src="{{info.section3.card1.img}}" alt="{{info.section3.card1.imgAlt}}">
        {{info.section1.tag}}
        {{info.section1.title}}
        {{info.section1.summary}}
      </div>
      <div>
        <img src="{{info.section3.card2.img}}" alt="{{info.section3.card2.imgAlt}}">
        {{info.section1.tag}}
        {{info.section1.title}}
        {{info.section1.summary}}
      </div>
      <div>
        <img src="{{info.section3.card3.img}}" alt="{{info.section3.card3.imgAlt}}">
        {{info.section1.tag}}
        {{info.section1.title}}
        {{info.section1.summary}}
      </div>
    </section>
  </div>
</div>


