---
layout: layouts/base.njk
templateClass: tmpl-home
---

{# The Home page uses this template–it extends the base template #}

<div class="wrapper">
  <div class="content">
    <article class="latest-post">
      <img class="latest-post_img" src="{{info.section1.img}}" alt="{{info.section1.imgAlt}}">
      <header class = "latest-post_header">
        <button class="card-tags">{{info.section1.tag}}</button>
        <h1>{{info.section1.title}}</h1>
        <p>{{info.section1.summary}}</p>
        <a href="/">
          <span>&#8594;</span>
        </a>
      </header>
    </article>
    <div  class="line-break"> 
      <hr>
      <h2 class="line-break_h2">MORE STUFFFFFF</h2>
    </div>
    <section class="row-of-cards">
      <div class="cards">
        <img class="cards" src="{{info.section3.card1.img}}" alt="{{info.section3.card1.imgAlt}}">
        <div>
          <button class="card-tags">{{info.section3.card1.tag}}</button>
          <h4>{{info.section3.card1.title}}</h4>
          <p>{{info.section3.card1.summary}}</p>
        </div>
      </div>
      <div class="cards">
        <img class="cards" src="{{info.section3.card2.img}}" alt="{{info.section3.card2.imgAlt}}">
        <div>
          <button class="card-tags">{{info.section3.card2.tag}}</button>
          <h4>{{info.section3.card2.title}}</h4>
          <p>{{info.section3.card2.summary}}</p>
        </div>
      </div>
      <div class="cards">
        <img class="cards" src="{{info.section3.card3.img}}" alt="{{info.section3.card3.imgAlt}}">
        <div>
          <button class="card-tags">{{info.section3.card3.tag}}</button>
          <h4>{{info.section3.card3.title}}</h4>
          <p>{{info.section3.card3.summary}}</p>
        </div>
      </div>
    </section>
    <section class="lazySection">
      <img class="cover" src="{{info.section2.img}}" alt="{{info.section2.imgAlt}}">
      <h3 class="whoislazy">{{info.section2.title}}</h3>
    </section>
  </div>
</div>

